 #  Types Of Opertors
# --------------------------------


* Arithmetic Operators
* Comparison (Relational) Operators
* Assignment Operators
* Logical Operators
* Bitwise Operators
* Membership Operators
* Identity Operators

# Arithmetic Opertors

In [2]:
# + AAddition
#- Subtraction

#* Multilication
# / Division
# // floor division
# % Modulus
# ** Power

In [4]:
2+5

7

In [5]:
2.0+5.0

7.0

In [6]:
"A"+"B"

'AB'

In [8]:
["Hadi", "Arsalan"]+ ["Asad", "Afnan"]

['Hadi', 'Arsalan', 'Asad', 'Afnan']

In [9]:
5-2

3

In [10]:
4.2-3

1.2000000000000002

In [3]:
("Hamza","Junaid") + ("Abid","Konain")

('Hamza', 'Junaid', 'Abid', 'Konain')

In [12]:
{5,6,8,7} - {6,7}

{5, 8}

In [13]:
{"A","B","C"} - {"C"}

{'A', 'B'}

In [14]:
2*8

16

In [15]:
"A"*3

'AAA'

In [16]:
["A"]*3

['A', 'A', 'A']

In [17]:
("aA")*3

'aAaAaA'

In [18]:
11/3

3.6666666666666665

In [19]:
5+2+3+7+9

26

In [4]:
11 // 3

3

In [20]:
5+\
2+\
3+\
7+\
9+\

SyntaxError: unexpected EOF while parsing (<ipython-input-20-da981f6680df>, line 5)

In [21]:
11//3

3

In [22]:
13//3

4

In [23]:
11//3

3

In [25]:
#Ramining Value is called Modulus
#Modulus 
11 % 3

2

2**3 # 2

# Comparison Operator

* ==
* <
* >
* >=
* <=
* != 
* <>

In [26]:
2 == 2

True

In [28]:
'A'=='a'

False

In [29]:
5 > 3

True

In [30]:
5 < 3

False

In [31]:
5 > 5

False

In [33]:
5 >= 5 # 5  > 4

True

In [34]:
5 > 4

True

In [35]:
"A" > "B"

False

# A= 65  -> Z= 90
a= 97  -> z= 122
0= 48  -> 9= 57

In [5]:
ord("a")

97

In [38]:
chr(65)

'A'

In [39]:
3 <= 3

True

In [6]:
'Hadi' != "HAdi"

True

In [7]:
2 != 4

True

# Assignmment Operator

In [9]:
#    = 
#   += 
#   -= 
#   *= 
#   /= 
#   //= 
#  **=
#   %=

In [41]:
a=5
print(a)

5

In [42]:
a=5
a=7
a=3
print(a)

3

In [43]:
# =operator assign new value and also overwrite new value
a  =1
a +=2
a +=5
print(a)

8

In [44]:
a1= 1
a = a+2
a = a+3
a = a+4
print(a)

17

In [45]:
a  =100
a -=5
a -=5
print(a)

90

In [46]:
a  = 2
a *= 3
a +=5
print(a)

11

In [47]:
a  = 100
a //= 2
a //=2
print(a)

25

In [48]:
a  = 21
a %= 5
print(a)

1

In [49]:
a   = 2
a **= 2
a **= 3 
print(a)

64

In [51]:
a  = "A"
a  += "B"

print(a)

AB

In [52]:
a   =[1, 2, 3]
a  +=[5,6]
print(a)

[1, 2, 3, 5, 6]

# Logical Operators

and  &
or |
not

In [61]:
True and False and True

False

In [62]:
False and False and True

False

In [60]:
True and True and True

True

In [11]:
user = input("UserName:")
password = input("Password")

user == "Admin" and password == "123"
#"Admin" == "Admin" and "123" == "123"
#       True         and       True
#                   True

UserName:Admin
Password123

True

In [12]:
 user = input("UserName:")
password = input("Password")

(user == "Admin") & (password == "123")
#"Admin" == "Admin" and "123" == "123"
#       True         and       True
#                   True

UserName:Admin
Password123

True

In [13]:

user = input("UserName:")
password = input("Password")

user == "Admin" and password == "123"
#"Hadi" == "Admin" and "123" == "123"
#       False        and       True
#                   False

UserName:Hadi
Password123

False

In [15]:
True or True or False or False or True

True

In [16]:
True | True | False | False | True

True

In [17]:
False | False | False | False | False

False

In [18]:
user = "Hadi" # Hadi,Ahmad, Khalil
password = "123" # 123


(user == "Hadi" or \
 user== "Ahmad" or \
 user == "Khalil") and password=="123"

True

In [1]:
user = "a"
password = "123"

not (user=="Ali" and password=="123")

True

In [2]:
not(True)

False

In [3]:
not(False)

True

# Bitwise Operators

8  ,    7,   8 ,  5,   4,   3,   2,  1,   0
2  ,    2,   2 ,  2,   2,   2,   2,  2,   2                         
===============================================
256,  128,   64, 32, 16,    8,   4,  2,  1

Right Side
11001
1  = 1
0  = 0
0  = 0
1  = 8
1  = 16
25

28=11100
29=11101
35=100011

&   and
11100
11101
------
11100

In [3]:
28 & 29

28

In [4]:
29 & 28 #
11100
11101
------
11101

28

|   or
11100
11101
------
11101

In [10]:
28 ^ 29

1

28 | 29
|   or
11100 
11101
-------
11101

In [7]:
~29

-30

# Membership Operator

in
not in

In [11]:

names = ["Ali","Hamza","Junaid","Kashif"]
i = 0
while i < len(names):
    if names[i]=="Junaid":
        print(True)
        break
    i +=1

True

In [12]:
names = ["Ali","Hamza","Junaid","Kashif"]
"Kashif" in names

True

In [13]:
user = input("Text")
'pakistan' in user

Textjffffffftyr fytti

False

In [14]:
'Hadi' not in user

True

In [15]:
user = input()
user = user.split()
user

abcd Pakistan

['abcd', 'Pakistan']

In [8]:
names = ["A","B"]
"A" in names

True

In [13]:
user = input()
user = user.split()
user

AB

['AB']

#  Identity Operators

In [14]:
a = '5'
b = 5
c =a
print(a is  b)
print (a is c)

False
True

In [15]:
print(id(a))
print(id(b))
print(id(c))

3038935636400
140736531833360
3038935636400

In [16]:
id(a)==id(c)

True

# Control Flow

if 
else
elif

old

if logic{
vale_i}
Python

if logic:
    value _if _true
    else:
        value_if_false

In [19]:
if True:
        print("Pakistan")
        print("Pakistan")
        print("Pakistan")
else:
        print("Zinda Bad")

Pakistan
Pakistan
Pakistan

In [20]:
if False:
        print("Pakistan")
        print("Pakistan")
        print("Pakistan")
else:
        print("Zinda Bad")

Zinda Bad

In [16]:

user = input("User")
password = input("Pass")

if (user=="Ali" or user=="Hamza") and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

UserHadi
Pass123
Invalid User

In [17]:
user = input("User")
password = input("Pass")

if () and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

UserAsad
Pass123
Invalid User